---
import PageLayout from "../../layouts/Base.astro"
import BadgeTypes from "../../components/BadgeTypes.astro";
---

<PageLayout meta={{ title: "Badge Types" }}>
	<section>
		<BadgeTypes />
	</section>
</PageLayout>
