---
import BadgeTypes from "../components/BadgeTypes.astro";
import PageLayout from "../layouts/Base.astro"
import { assets, badges } from "../utils/badges";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="flex items-center">
			<h2 class="text-zinc-800 dark:text-zinc-100 mt-4 mb-3 text-3xl font-bold">About</h2>
			<div class="h-[1px] grow bg-black/10 dark:bg-white/40 mt-3 mx-4" />
		</div>
		<p class="mb-4 text-lg">
			This is a fork of <a href="https://intergrav.github.io/devins-badges-docs/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-600 underline underline-offset-2">Devin's Badges</a> to continue maintaining and adding fancy badges that appeal to non-technical users.

			<br/>
			<br/>
			
			Currently there are <b>{assets.length}</b> different badges (with {badges.length} variants) to choose from.
		</p>
	</section>
	<section>
		<div class="flex items-center">
			<h2 class="text-zinc-800 dark:text-zinc-100 mt-4 mb-3 text-3xl font-bold">Contributing</h2>
			<div class="h-[1px] grow bg-black/10 dark:bg-white/40 mt-3 mx-4" />
		</div>
		<p class="mb-4 text-lg">
			You can view the contributing guide <a href="/contributing" class="text-blue-500 hover:text-blue-600 underline underline-offset-2">here</a> for instructions about how to add, modify and update the badges available.
		</p>
	</section>
	<section>
		<BadgeTypes />
	</section>
</PageLayout>
